.LeftPanel {
    flex: 1;
    position: sticky;
    top: 62px;
    height: calc(100vh - 70px);
}

.LeftPanel .container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.5);
}

.LeftPanel .container .sidebar {
    align-items: center;
    padding: 10px;
    margin-right: 80px;
}

.LeftPanel .container .sidebar .user {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.LeftPanel .container .sidebar .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.LeftPanel .container .sidebar .list {
    display: flex;
    gap: 15px;
    align-items: center;
}

.LeftPanel .container .sidebar .list img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}