.LeftPanel {
    flex: 1;
    position: sticky;
    top: 62px;
    height: calc(100vh - 70px);
    background-color: rgb(221, 224, 228);
}

.LeftPanel .container {
    display: flex;
    height: 100vh;
    padding: 20px;
    margin-top: 10px;
    background-color: rgb(221, 224, 228);
}

.LeftPanel .container .sidebar {
    align-items: center;
    padding: 20px;
    margin-right: 30px;
}

.LeftPanel .container .sidebar .user {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.LeftPanel .container .sidebar .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.LeftPanel .container .sidebar .list {
    display: flex;
    gap: 15px;
    align-items: center;
}

.LeftPanel .container .sidebar .list img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}