.RightPanel {
    flex: 3;
    position: sticky;
    top: 62px;
    height: calc(100vh - 70px);
}

.RightPanel .container {
    padding: 20px;
    margin-top: 10px;
}

.RightPanel .container .sidebar {
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    -webkit-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.5);
}

.RightPanel .container .sidebar span {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.RightPanel .container .sidebar .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.RightPanel .container .sidebar .user .userDetails {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    position: relative;
}

p {
    font-weight: 400;
}

.RightPanel .container .sidebar .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.RightPanel .container .sidebar .user .buttons {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
}

button {
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:first-child {
    background-color: #12b127;
}

button:last-child {
    background-color: #ff0000;
}

.online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #12b127;
    position: absolute;
    top: 0;
    left: 21px;
}